# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl

# Provider cache
.terraform/providers/

# Optional: if you have sensitive files
*.tfvars
*.tfvars.json

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/